.letter {
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    cursor: pointer;
}

.selected {
    text-decoration: line-through;
    color: green;
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.unselected {
    background-color: #f2f2f2;
    color: black;
}
