.letters-container {
    margin-top: 20px;
}

.letter {
    margin-right: 5px;
    font-size: 1.2em;
}

.selected {
    text-decoration: line-through;
    color: green;
}

.unselected {
    color: black;
}
